{
  "swagger": "2.0",
  "info": {
    "title": "Graph API Message Center",
    "description": "Graph API Message Center",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/admin/serviceAnnouncement/messages": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startDateTime": {
                        "type": "string",
                        "description": "startDateTime"
                      },
                      "endDateTime": {
                        "type": "string",
                        "description": "endDateTime"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "lastModifiedDateTime"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "category": {
                        "type": "string",
                        "description": "category"
                      },
                      "severity": {
                        "type": "string",
                        "description": "severity"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "tags"
                      },
                      "isMajorChange": {
                        "type": "boolean",
                        "description": "isMajorChange"
                      },
                      "actionRequiredByDateTime": {
                        "type": "string",
                        "description": "actionRequiredByDateTime"
                      },
                      "services": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "services"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "details"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "contentType"
                          },
                          "content": {
                            "type": "string",
                            "description": "content"
                          }
                        },
                        "description": "body"
                      },
                      "viewPoint": {
                        "type": "object",
                        "properties": {
                          "isRead": {
                            "type": "boolean",
                            "description": "isRead"
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "isArchived"
                          },
                          "isFavorited": {
                            "type": "boolean",
                            "description": "isFavorited"
                          }
                        },
                        "description": "viewPoint"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "HTTP/1.1": {
                "description": "HTTP/1.1",
                "type": "string"
              },
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get MC messages",
        "description": "Get Message Center message",
        "operationId": "GetMCMessages",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/admin/serviceAnnouncement/issues": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startDateTime": {
                        "type": "string",
                        "description": "startDateTime"
                      },
                      "endDateTime": {
                        "type": "string",
                        "description": "endDateTime"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "lastModifiedDateTime"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "impactDescription": {
                        "type": "string",
                        "description": "impactDescription"
                      },
                      "classification": {
                        "type": "string",
                        "description": "classification"
                      },
                      "origin": {
                        "type": "string",
                        "description": "origin"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "service": {
                        "type": "string",
                        "description": "service"
                      },
                      "feature": {
                        "type": "string",
                        "description": "feature"
                      },
                      "featureGroup": {
                        "type": "string",
                        "description": "featureGroup"
                      },
                      "isResolved": {
                        "type": "boolean",
                        "description": "isResolved"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "details"
                      },
                      "posts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "createdDateTime": {
                              "type": "string",
                              "description": "createdDateTime"
                            },
                            "postType": {
                              "type": "string",
                              "description": "postType"
                            },
                            "description": {
                              "type": "object",
                              "properties": {
                                "contentType": {
                                  "type": "string",
                                  "description": "contentType"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "content"
                                }
                              },
                              "description": "description"
                            }
                          }
                        },
                        "description": "posts"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "HTTP/1.1": {
                "description": "HTTP/1.1",
                "type": "string"
              },
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Service Health",
        "description": "Get Service Health from message Center",
        "operationId": "GetServiceHealth",
        "x-ms-visibility": "important",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "ServiceMessage.Read.All ServiceHealth.Read.All": "ServiceMessage.Read.All ServiceHealth.Read.All"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "ServiceMessage.Read.All ServiceHealth.Read.All"
      ]
    }
  ],
  "tags": []
}